<p>contact-control works!</p>
<!-- <div formGroupName="contactModel"> -->

   <div>
      <form [formGroup]="myFormContact">
         <input formControlName="phone1" placeholder="phone1">
         <input formControlName="phone2" placeholder="phone2">
         <input formControlName="email" placeholder="email">
         <input formControlName="adress1" placeholder="address1">
         <input formControlName="adress2" placeholder="address2">

         <div class="form-group">
            <select class="form-group"    formControlName="cityId">
               <option *ngFor="let item of cities" [value]="item.id">{{item.name}}</option>
            </select>
         </div>
      </form>
  </div>