
    <div class="container" style="height: auto">
        <div class="card-deck  align-items-center justify-content-center" >
            <div class="bg-logo card">
                <img class="card-img-top" src="assets/img/gm-s.png" height="100px">
            </div>
            <div class="bg-logo card ">
                <img class="card-img-top" src="assets/img/logoSite.png" height="100px">
            </div>
            <div class="bg-logo card ">
                <img class="card-img-top" src="assets/img/OFPPT.png" height="100px">
            </div>
        </div>
    </div>
    <hr>

        <div class="container mt-70">
          <table class="table table-sm " style="background-color: rgba(51, 166, 201, 0.466);" border="5">
            <thead style="font-size: x-large;">
              <tr class="bg-info">
                <th scope="col">Elaboré par:</th>
                <th scope="col">Encadré par:</th>
              </tr>
            </thead>

            <tbody style="font-size: xx-large;">
              <tr >
                <td>Oualid Hihouka</td>
                <td>Abde ALkarim khalofi</td>

              </tr>

              <tr >
                <td rowspan="2">Younes Lmariouh</td>
                <td>Mohamed Boutakat</td>
              </tr>

              <tr >
                <td>Inass Harram</td>
              </tr>

            </tbody>
          </table>

        </div>
