    <!--Contact us -->
    <section class="contact-area pt-25" id="ContactUs">
        <div class="container-fluid">
            <div class="row d-flex justify-content-end align-items-center">
                <div class="col-lg-6 col-md-12 about-left no-padding">
                    <img class="img-fluid" src="assets/img/about-img.jpg" alt="">
                </div>
                <div class="col-lg-6 col-md-12 about-right no-padding">
                    <h1 class="text-uppercase text-home" style="color: white;">ALL YOUR QUESTIONS <br> OR COMMENTS</h1>
                    <form class="contact-form" id="myForm" action="donate.php">
                             <div class="row">
                                 <div class="col-lg-12 d-flex flex-column">
                                     <input class="form-control mt-20"  name="name" placeholder="Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Patient name'" required="" type="text" required>
                                 </div>
                                 <div class="col-lg-6 d-flex flex-column">
                                    <input class="form-control mt-20" name="phone" placeholder="Mail" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Phone'"  required="" type="text" required>
                                </div>
                                <div class="col-lg-12 flex-column">
                                    <textarea class="form-control mt-20" name="message" placeholder="Your Message here" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Message here'" required=""></textarea>
                                </div>

                                <div class="col-lg-12 d-flex justify-content-end send-btn">
                                    <button class="btn btn-outline-light mt-20 text-uppercase ">SEND MESSAGE</button>
                                    
                                </div>

                                <div class="alert-msg"></div>
                            </div>
                      </form>
                    </div>
                </div>
            </div>
    </section>
