    <!-- body container  -->
    <div class="container">
        <div class="row  px-4">
            <div class=" mx-auto">
        
                <!-- Profile widget -->
                <div class="bg-white shadow rounded overflow-hidden">
                    <div class="px-4 pt-0 pb-4 bg-dark">
                        <div class="media align-items-end profile-header">
                            <div class="profile mr-3"><img src="assets/img/c4.jpg" alt="..." width="130" class="rounded mb-2 img-thumbnail"><a href="#" class="btn btn-dark btn-sm btn-block">Edit profile</a></div>
                            <div class="media-body mb-5 text-white">
                                <h4 class="mt-0 mb-0">Manuella Tarly</h4>
                                <p class="small mb-4"> <i class="fa fa-map-marker mr-2"></i>San Farcisco</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="py-4">
                        <div class="p-4 bg-light rounded shadow-sm">
                            <p class="font-italic mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                        </div>
                    </div>


                    <div class="py-4 px-4">
                        <div class="row">
                            <div class="col-lg-6 mb-2 pr-lg-1"><img src="assets/img/c1.jpg" alt="" class="img-fluid rounded shadow-sm"></div>
                            <div class="col-lg-6 mb-2 pl-lg-1"><img src="assets/img/c2.jpg" alt="" class="img-fluid rounded shadow-sm"></div>
                            <div class="col-lg-6 pr-lg-1 mb-2"><img src="assets/img/c3.jpg" alt="" class="img-fluid rounded shadow-sm"></div>
                            <div class="col-lg-6 pl-lg-1"><img src="assets/img/c4.jpg" alt="" class="img-fluid rounded shadow-sm"></div>
                        </div>
                        
                    </div>
                </div><!-- End profile widget -->
        
            </div>
        </div>
    </div>

    <!-- end body container  -->
    
