<!--    start   blog    -->

<div class="body-wrapper">
    <div class="column one">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="assets/img/test.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Blog Title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    

<div class="column two">
<article class="moodle-container">
<div class="share-container">
<input type="text" placeholder="Share an article, photo, video, or idea">
</div>
<div class="action-container">
<button class="media-button ml-5">Write an article</button>
<button class="media-button ml-5">Image</button>
<button class="btn btn-primary float-right">Post</button>
</div>
</article>
<article class="post-container">
<div class="post-top-bar">
<p><a href="#" class="name">Charlie Marcotte</a> likes this</p>
<input class="toggle" type="checkbox" id="toggleFor">
<!-- <label id="toggle-info" for="toggleFor"></label> 
<aside class="toggle-options">
<h3>Copy link to post</h3>
<h3>Hide this post</h3>
<h3>Unfollow Michael</h3>
<h3>Report this post</h3>
</aside>-->
</div>
<div class="profile-title"><img src="assets/img/c3.jpg">
<div class="user-information-container">
<p><a href="#" class="name"> Charlie Marcotte </a><span class="badge badge-primary">Doctor</span></p>
<p class="time-stamp">3h</p>
</div>
</div>
<div class="user-text">
<p class="custom-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
</div>
<div class="bottom-bar-container">
<div class="bottom-bar-social">
<input id="like" type="checkbox" placeholder="" name="socialIcon">
<label class="social" for="like" id="liked-after"><i class="fa fa-thumbs-up" id="thumb" style="font-style: normal;"></i> Like</label>
<input id="comment" type="checkbox" placeholder="" name="socialIcon">
<label class="social" for="comment"><i class="fa fa-comment" style="font-style: normal;"></i> Comment</label>
<input id="share" type="checkbox" placeholder="" name="socialIcon">
<label class="social" for="share"><i class="fa fa-share" style="font-style: normal;"></i> Share</label><span class="social-icon icon fa fa-facebook-square"></span><span class="social-icon icon fa fa-twitter-square"></span><span class="social-icon icon fa fa-google-plus-square"></span>
<div class="comment-box"><img src="assets/img/c3.jpg">
<input id="comment-input" class="form-control" type="text" placeholder="Add a comment...">
<button class="btn btn-outline-primary ml-5" onclick="MyFunction()">Comment</button>
</div>
</div>
</div>
<div id="new-div"></div>
</article>
</div>


<div class="column three">
<div class="news-container">
<input type="checkbox" id="chevron">
<label id="chevronLabel" for="chevron"><i class="fa fa-sort-down" style="font-style: normal;" id="arrow"></i><i class="glyphicon glyphicon-chevron-up" id="arrow-two"></i></label>
<h3>Trending News</h3>
<p class="new-paragraph">The World is Burning Part 1</p>
<p class="new-paragraph">The World is Burning Part 2</p>
<p class="new-paragraph">The World is Burning Part 3</p>
<p class="new-paragraph">The World is Burning Part 4</p>
<p class="new-paragraph">The World is Burning Part 5</p>
<p class="display-none new-paragraph">The World is Burning Part 6</p>
<p class="display-none new-paragraph">The World is Burning Part 7</p>
<p class="display-none new-paragraph">The World is Burning Part 8 </p>
</div>
</div>
</div>
<!--    end   blog    -->
